@media screen and (max-width: 44em) {
    body {
        font-size: 2.5vmax;
    }
    .box {
        /*flex: 1;*/
        width: 100%;
    }
    .reponse {
        padding-top: 0em;
        padding-bottom: 0em;
    }
}

@media screen and (min-width: 44em) {
    body {
        font-size: 2vmax;
    }
    .box {
        /*flex: 1;*/
        width: 50%;
    }
    /*.reponse {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }*/
}

body {
    background-image: url("../images/eiffel_l.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.parent {
    max-width: 36em;
    margin: auto;
}

.superbox {
    padding-bottom: 2em;
    border-bottom: 2em;
}

.box {
    /*flex: 1;*/
    float: left;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.subbox {
    display: flex;
    height: 4em;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
}

.subbox_container {
    display: flex;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.7);
    align-items: center;
    border-radius: 1em;
}

.reponse {
    display: flex;
    align-items: center;
    flex: 1;
}

.titre {
    width: 5em;
    text-align: center;
}

.h1, .h2 {
    text-align: center;
    padding-right: 2em;
}

.h1 {
    padding-right: 1em;
    font-weight: bold;
    font-size: 1.7em;
}

.h2 {
    padding-top: 1em;
    font-weight: bold;
}

input {
    width: 100%;
    font-size: inherit;
}

input.button {
    width: 33%;
    height: 3em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: rgba(255, 255, 255, 0.9);
    /*width: 16%;
    margin-left: 5%;
    margin-right: 5%;
    min-width: 6em;
    max-width: 10em;*/
}

input.button:disabled {
    background-color: rgba(255, 255, 255, 0.5);
}

input.bmid, input.bleft {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

input.bmid, input.bright {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

input.bright, .reponse_in {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

input.bleft {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.reponse_in {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    background-color: rgba(255, 255, 255, 0.7);
}

input {
    -webkit-appearance: none;
}